h1, h2, h3, h4, h5, h6, p {
    text-align: center;
}
img {
    order: 1px solid #000000;
    border-radius: 100%;
    padding: 10px;
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
header {
        position: sticky;
        top: 0;
        padding: 10px 16px;
        background: #010f5ead;
        color: #f1f1f1;
}
  
footer { 
    text-align: center;
    position: sticky;
    bottom: 0;
    padding: 10px 16px;
    background: #010f5ead;
    color: #f1f1f1;
}

div {
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 70px;
    font-family: "Lucida Console", "Courier New", monospace;
  }

  ol, li {
    text-align: center;
  }