h1{
    text-align: center;
}
h2 {
    text-align: center;
}
h3{ 
    text-align: center;
}
h5{
    text-align: center;
}
h4{
    text-align: center;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  
.header {
    position: sticky;
    top: 0;
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
  }
  